//Variabler, mixins osv
//Färgkoder i variabler, styling på texter, textstorlekar osv.

// Färgvariabler
$button-color: #dd5b2c;
$button-hover-color: #ff5a1d;
$background-color-main: #f7ebe6;
$background-color-form: #f8f8f8;
$border-color: #ccc;
$header-footer-color: #5a6f64;
$header-footer-text-color: #c7c7c7;
$spinner-green: #5a6f64;
$spinner-grey: #f3f3f3;
$white: #fff;
$error-red: #D83030;